.container {
  width: 40%;
  padding: 2px;
  margin-top: 4%;
}

.card {
  height: 1100px;
}

.bg-white {
  padding: 4px;
  margin-top: 10%;
}

.form-label, .form-control, .input-group-text {
  font-size: 30px;
}

.alert {
  font-size: 20px;
}

.btn {
  font-size: 30px;
  margin-top: 12%;
  height: 60px;
}
