<app-navigation-bar></app-navigation-bar>

<div class="card shadow-lg p-2 hire-card">
  <div class="d-flex flex-col align-items-center justify-content-center"
       (click)="toggleShowForm(); clearForm()">
    <span class="fw-bold">Hire employee</span>
    <i class="fa-solid icon" [ngClass]="{'fa-caret-down': showForm, 'fa-caret-right': !showForm}"></i>
  </div>
</div>

@if (showForm) {
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow p-5 rounded mt-3">
        <div class="card-body">
          <h4 class="text-center">SAVE EMPLOYEE</h4>
          <h6 class="mt-2 mb-5 text-center">Fill in the data below.</h6>
          <form class="requires-validation" [formGroup]="saveForm" (ngSubmit)="saveEmployee()">
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="name" class="form-control form-control-lg" placeholder="Name" required
                       type="text">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="email" class="form-control form-control-lg"
                       placeholder="Email (example@gmail.com)" required
                       type="email">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="password" class="form-control form-control-lg" placeholder="Password"
                       required type="text">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="hireDate" class="form-control form-control-lg"
                       placeholder="Hire date (YYYY-MM-DD)"
                       required type="text">
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <select formControlName="position" class="form-select form-select-lg mt-3" required>
                <option [ngValue]="null" selected disabled hidden>Position</option>
                <option *ngFor="let employeeType of positionsForEmployeeType"
                        [value]="employeeType">{{ employeeType }}
                </option>
              </select>
            </div>
            <div class="col-md-12 mb-4">
              <input formControlName="salary" class="form-control form-control-lg" placeholder="Salary" required
                     type="number">
            </div>
            @if (errorMessage) {
              <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
                {{ errorMessage }}
              </div>
            }
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary">Hire</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
}

<div class="p-2 d-flex flex-wrap mt-3 employees">
  @for (employee of employees; track employee.id) {
    <div class="col-md-3">
      <app-employee-card [employee]="employee" (deleteEmployeeEvent)="deleteEmployee($event)"></app-employee-card>
    </div>
  }
</div>
