.card {
  margin-left: 20%;
  margin-right: 20%;
}

.save-card:hover {
  background-color: #F1C40F;
}

.icon {
  font-size: 23px;
  margin-left: 20px;
}

.fw-bold, .form-control-lg, .form-select-lg, .btn{
  font-size: 25px;
  font-family: "Open Sans", serif;
}

.btn {
  padding: 15px 30px;
  margin-top: 5%;
}

.alert {
  font-size: 20px;
}
