.card {
  padding: 20px 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.btn-link, .fa-credit-card {
  font-size: 30px;
}

.btn-link:hover {
  background-color: #BFEC73FF;
}



.details {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}
