.fw-bold {
  font-size: 25px;
  font-family: "Open Sans", serif;
  margin-left: 20px;
}

.card {
  margin-left: 20%;
  margin-right: 20%;
}

.user {
  font-size: 50px;
}

.btn {
  font-size: 30px;
  padding: 10px 10px;
}
