<app-navigation-bar></app-navigation-bar>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card shadow p-5 rounded">
    <div class="card-body">
      <h3 class="text-center">SAVE FOOD DISH</h3>
      <h6 class="mt-2 mb-5 text-center">Fill in the data below.</h6>
      <form class="requires-validation" [formGroup]="newFoodDishForm" (ngSubmit)="saveFoodDish()">
        <div class="row mb-4">
          <div class="col-md-12">
            <input formControlName="name" class="form-control form-control-lg" placeholder="Name" required
                   type="text">
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <input formControlName="price" class="form-control form-control-lg" placeholder="Price" required
                   type="number">
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <input formControlName="rating" class="form-control form-control-lg" placeholder="Rating" required
                   type="number">
          </div>
        </div>
        @if (errorMessage) {
          <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
            {{ errorMessage }}
          </div>
        }
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success">Add to menu</button>
        </div>
      </form>
    </div>
  </div>
</div>



